.container {
	white-space: nowrap;
}

.star {
	height: 1.5rem;
	width: 1.5rem;
	padding: 0.25rem;
}

.starEmpty {
	fill: var(--color-star);
	transition: fill 0.5s ease;
}

.starFilled {
	fill: var(--color-star-filled);
	transition: fill 0.25s ease;
}

.visuallyHidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
